.button-more {
    background: #FFBC21 0% 0% no-repeat padding-box;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 120px;
    cursor: pointer;
}
.button-more__title {
    text-align: center;
    font: normal normal normal 17px/20px Prompt;
    letter-spacing: 0px;
    color: #000000;
    line-height: 26px;
    width: 256px;
    height: 26px;
    padding: 16px 31px 16px 0;
    position: relative;
}
.button-more__title::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    margin-left: -38px;
    width: 55px;
    height: 60px;
    background: transparent url('../img/arrow-btn-right.svg') 0% 0% no-repeat padding-box;
}
.button-more:hover .button-more__title::after {
    background: transparent url('../img/arrow-btn-right-black.svg') 18px 22px no-repeat padding-box;
}